@page "/wotd"
@using TeacherTools.Services;
@inject DayWordService dayWordService;

<div class="container-fluid">
    <div class="row">   
        <h1 class="col flex-fill">
            Word of the Day
        </h1> 
    </div>
    <div class="row">
        @if (word == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <div class="col ">
                <div class="jumbotron">
                    <h1 class="display-3 text-primary">@word.Word</h1>
                </div>
            </div>
        }
    </div>
</div>

@functions {
    DayWord word;

    protected override async Task OnInitAsync()
    {
        word = await dayWordService.GetWordAsync();
    }
}