<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="/favicon-32x32.png" sizes="32x32" class="mr-2" alt=""/>
        Teacher Tools
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match=NavLinkMatch.All>
                <span class="oi oi-double-quote-serif-left" aria-hidden="true"></span> Phrase Chooser
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="wotd" Match=NavLinkMatch.All>
                <span class="oi oi-comment-square" aria-hidden="true"></span> Word of the Day
            </NavLink>
        </li>
    </ul>
</div>

@code {
    bool collapseNavMenu = true;

    string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
